# Node.js dependencies
node_modules/

# Build output
dist/

# Local environment variables
.env

# IDEs y editores
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de log
*.log
npm-debug.log*

# Otros
*.local
